@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@300&family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --green:rgba(30, 235, 12, 0.932);
    /* --green:rgba(235, 83, 12, 0.932); */
    --light-green:#97f784;
    /* --light-green:#b9572a; */
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.1rem solid rgba(0,0,0,.1);
}
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
   
}
html{
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:3rem 9%;
    z-index: 1000;
    background: #fff;

}
.header .logo{
    font-size: 3.5rem;
    color: var(--black);
    font-weight: bolder;
    text-decoration: none;
}
.header .logo span{
    color: var(--green);
    text-decoration: none;

}
.header .navbar a{
    text-decoration: none;
    font-size: 2rem;
    margin:0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color:var(--green);
}

header .active{
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;  
}

#menu-btn{
    font-size: 2.5rem;
    color:var(--light-color);
    display: none;
}

#login-btn .btn{
    margin-top: 0;
}

#login-btn i{
    display: none;
    font-size: 2.5rem;
    color:var(--light-color);
}
section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background:var(--light-green);
    color:var(--black);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    font-weight: 500;
    text-align: center;
}

.btn:hover{
    background:var(--green);
}

.login-form-container{
    position:fixed;
    top:-105%;left:0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: rgba(255,255,255);
    display: flex;
    align-items: center;
    justify-content: center;
  
    

}
.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:2rem;
    text-align: center;
    padding:2rem;
    width:40rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}
.login-form-container form .buttons{
    display: flex;
    gap:1rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:100%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:1rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:1rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container form h3{
    padding-bottom:1rem;
    font-size: 2.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    padding-top: 10rem;
    text-align: center;
    overflow-x: hidden;
}

.home h3{
    color:var(--black);
    font-size: 7.5vw;
    text-transform: uppercase;
}

.home img{
    width:100%;
    margin:1rem 0;
  
}
.about-container{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about-img img{
    height: 40rem;
    width: 65rem;

   
}

.about h1{
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 40px;
}
.about-text p{
    margin: 0.5rem 0 1.4rem;
    font-size: 1.7rem;
    text-align: left;
}
.about-text .about-btn{
    margin-top: 25px 34px;
    padding: 10px 20px;
    background: #474fa0;
    color: #fff;
    border-radius: 0.5 rem;
}
.about-text .about-btn:hover{
    background: var(--green);
} 

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #fff;
}

.icons-container .icons{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    gap:1.5rem;
}

.icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height:5rem;
    font-size:2.5rem;
    color:var(--black);
    background:#fff;
    text-align: center;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 2.5rem;
 
}

.icons-container .icons .content p{
    font-size: 1.5rem;
    color:var(--light-color);
}

.icons-container .icons:hover{
    padding: 10px;
    margin: 15px;
}

.heading{
    text-align:center ;
    padding-bottom: 0px;
    font-size: 4.5rem;
    color: var(--black);

}
.heading span{
    position: relative;
    z-index: 0;
}
.newvehicles .car-image{
    width: 50%;
    overflow: hidden;
    display: block;
 
    
}
.newvehicles .carousel-inner{
    display: flex; 
    justify-content: space-between; 
  ;
}
.newvehicles .carousel-caption{
   height: 90%;
   margin-left: 40%; 
   
   
   
}
.newvehicles .carousel-caption h3{
    font-size: 2.5rem;
    color:orangered;
    padding:.5rem 0;
}
.newvehicles .carousel-caption h4{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.newvehicles  .carousel-item .price{
    font-size: 2.2rem;
    color:black;
    padding:1rem 0;
    font-weight: bolder;
}

.newvehicles .carousel-item  .price span{
    color:var(--light-color);
    font-size: 1.9rem;
    font-weight: normal;
}

.newvehicles .carousel-item  p{
    font-size: 1.6rem;
    color:var(--light-color);
    padding: 1rem 0;
    padding-top: 1.5rem;
    border-top: var(--border);
}

.newvehicles .carousel-item span{
    font-size: 1rem;
    color:var(--green);
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.services .box-container .box{
    padding:2rem;
    border-radius: .5rem;
    /* box-shadow: var(--box-shadow); */
    border:var(--border);
    text-align: center;
}

.services .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:var(--black);
}

.services .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
}

.services .box-container .box p{
    line-height: 1.8;
    padding:1rem 0;
    font-size: 1.4rem;
    color:var(--light-color);
}





.services .facilites .box-container .box:hover{
    padding: 35px;
    margin: 0px;
    font-size: 1.5rem;
}
.services .facilites .box-container .box img{
    height: 100px;
    width: 100px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color:var(--black);
}
.services .facilites .box-container span{
    font-size: 1.8rem;
    margin-top: 10px;
    
    text-align: center;
}
.facilites li{
    font-size: large;
}
.featured .featured-slider{
    padding:1rem;
    padding-bottom: 4rem;
}

.featured .featured-slider .box{
    padding:2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.featured .featured-slider .box img{
    height: 15rem;
}

.featured .featured-slider .box:hover img{
    transform: scale(.9);
} 

.featured .featured-slider .box .content h3{
    font-size: 2.2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .stars{
    padding:1rem 0;
}

.featured .featured-slider .box .content .stars i{
    font-size: 1.7rem;
    color:var(--greesn);
}

.featured .featured-slider .box .content .price{
    font-size: 2.5rem;
    color:var(--black);
}


.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row .map{
    flex:1 1 42rem;
    width: 100%;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.contact .row form{
    padding:2rem;
    flex:1 1 42rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    text-align: center;
    border-radius: .5rem;
}

.contact .row form h3{
    font-size: 3rem;
    color:var(--black);
    padding-bottom: 1rem;
}

.contact .row form .box{
    width:100%;
    border-radius: .5rem;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    text-transform: none;
    border:var(--border);
    margin:.7rem 0;
}

.contact .row form textarea{
    height:15rem;
    resize: none;
}
.footer{
    background: var(--light-green);
 
   
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    padding:1rem 0;
    color:var(--black);
}

.footer .box-container .box a{
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    padding:1rem 0;
    color:var(--light-color);
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding:1.5rem;
    padding-top: 2.5rem;
    margin-top: 2rem;
    border-top: var(--border);
    font-size: 2rem;
    color:var(--black);
}

.reviews .container{
    background: #262626;
    padding: 10px 0;
    position: relative;
    margin: 0px 0;
    margin-top: 0px;
}
.reviews h1{
    margin: 50px 0;
    align-items: center;
    text-align: center;
}

.reviews .container .image-area{
    width: 150px;
    height: 150px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 100%;
    overflow: hidden;
}
.reviews .container .image-area img{
    width: 100%;
}
.reviews .container .carousel-caption{
    position: static;
    padding-bottom: 15px;
    padding-top: 0;

}
.reviews .container .carousel-caption h3{
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.reviews .container .carousel-caption h4{
    color: yellow;
    font-size: 20px;
    margin-bottom: 20px;
}
.reviews .container .carousel-caption p{
    font-size: 18px;
    margin: auto;
    width: 70%;
    margin-bottom: 10px;
}


@media (max-width:1200px){
    .facilites .lists{
        display: block;
        margin-left: 0px;
    }
    .about-container{
        display: block;
    }
    .about-img img{
        display: none;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    .header.active{
        padding:2rem;
    }

    section{
        padding:2rem;
    }
    

}
@media (max-width:768px){

    #menu-btn{
        display: block;
    }
    
    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }
    .newvehicles {
        display: none;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

   

}