<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/vehicle.css">
    <title>vehicle</title>
</head>
<body>
    <header class="header">
        <a href="/home" class="logo"><span>VVD </span>CARS</a>
        <span>Our Cars</span>
        <div class=".homebtn">
            <nav class="navbar">
                
                <a href="/home"> Home</a>
            </nav>
        </div>
    </header>
    <div class="heading">
        <h1>Explore Out Top Deals <br> From Top Rated Store</h1>
    </div>
    <div class="service-container">
        
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mercedes-1600.png" alt="">
            </div>
            <p>2020</p>
            <h3>mercedes-1600</h3>
            <h2>55.53/- Lakhs  </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/suzuki_vitara.png" alt="">
            </div>
            <p>2018</p>
            <h3>Suzuki Vitara</h3>
            <h2> 7.69/- Lakhs </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/toyoto-fortuner-.png" alt="">
            </div>
            <p>2022</p>
            <h3>Toyoto Fortuner</h3>
            <h2>16.49/- Lakhs- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/bmw.png" alt="">
            </div>
            <p>2017</p>
            <h3>bmw black 760i</h3>
            <h2> 47.81/- Lakhs </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-1.png" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Scorpio</h3>
            <h2> 47.81/- Lakhs</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/honda-brio.jpg" alt="">
            </div>
            <p>2020</p>
            <h3>Honda Brio</h3>
            <h2> 13.22 Lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai-alcazar.png" alt="">
            </div>
            <p>2018</p>
            <h3>Hyundai Alcazar</h3>
            <h2>23.53 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/honda-hrv.png" alt="">
            </div>
            <p>2016</p>
            <h3>Honda HRV Sport</h3>
            <h2>27.10 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-5.png" alt="">
            </div>
            <p>2021</p>
            <h3>Kia Sportage</h3>
            <h2>32.20 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-3.png" alt="">
            </div>
            <p>2018</p>
            <h3>Nissan A8</h3>
            <h2> 40.52 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-xuv500.webp" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Xuv500</h3>
            <h2> 33.56 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-4.png" alt="">
            </div>
            <p>2018</p>
            <h3> Audi A4</h3>
            <h2>49.57 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/skoda-slaviar.jpg" alt="">
            </div>
            <p>2021</p>
            <h3>Skoda Slaviar</h3>
            <h2>22.52 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-6.png" alt="">
            </div>
            <p>2016</p>
            <h3>Hyundai Creata</h3>
            <h2>15.63 Lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-7.png" alt="">
            </div>
            <p>2020</p>
            <h3>kia scorpion</h3>
            <h2> 31.52 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-verito.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Verito</h3>
            <h2>9.12 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-WR-V.png" alt="">
            </div>
            <p>2019</p>
            <h3>Honda WR-V</h3>
            <h2>11.44 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-Venue.png" alt="">
            </div>
            <p>2015</p>
            <h3>Hyundai Venue</h3>
            <h2> 10.71 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-i20.png" alt="">
            </div>
            <p>2019</p>
            <h3>Hyundai i20</h3>
            <h2>7.98 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-Verna.png" alt="">
            </div>
            <p>2020</p>
            <h3>Hyundai Verna</h3>
            <h2>14.44 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-Thar.png"" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Thar</h3>
            <h2> 44.7 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/maruti_sizuki-baleno.png" alt="">
            </div>
            <p>2020</p>
            <h3>Maruti Suzuki Baleno</h3>
            <h2> 13.25 Lakhs/- </h2>
            <a href="../otherpages/payment.html" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai-santro.png" alt="">
            </div>
            <p>2018</p>
            <h3>hyundai Santro</h3>
            <h2>6.48 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai_aura.png" alt="">
            </div>
            <p>2019</p>
            <h3>Hyundai Aura</h3>
            <h2> 9.37 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/WagonR.png" alt="">
            </div>
            <p>2015</p>
            <h3>Maruti-Suzuki WagonR</h3>
            <h2> 8.03 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Reanualt-Duster.png" alt="">
            </div>
            <p>2018</p>
            <h3>Renault Duster</h3>
            <h2> 12.25 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Renault-Kiger.png" alt="">
            </div>
            <p>2020</p>
            <h3>Renault Kiger</h3>
            <h2>18.35 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Renault-Kwid.png" alt="">
            </div>
            <p>2019</p>
            <h3>Renault KWID</h3>
            <h2> 8.83 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Reanualt-triber.png" alt="">
            </div>
            <p>2018</p>
            <h3>Renault Triber</h3>
            <h2> 8.32 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-city.png" alt="">
            </div>
            <p>2016</p>
            <h3>Honda City</h3>
            <h2>15.18 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-marazzo.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Marazzo</h3>
            <h2>14.00 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-Amaze.png" alt="">
            </div>
            <p>2019</p>
            <h3>Honda Amaze</h3>
            <h2> 11.21 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-verito.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Verito</h3>
            <h2> 9.12 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-Jazz.png" alt="">
            </div>
            <p>2014</p>
            <h3>Honda Jazz</h3>
            <h2>9.95 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-AlturasG4.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Alturas-G4</h3>
            <h2>31.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Tata-nexon.png" alt="">
            </div>
            <p>2020</p>
            <h3>Tata nexon</h3>
            <h2>10.73 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-tiago.png"" alt="">
            </div>
            <p>2016</p>
            <h3>Tata Tiago</h3>
            <h2>6.62 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-altroz.png" alt="">
            </div>
            <p>2018</p>
            <h3>Tata Altroz</h3>
            <h2>8.03 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-harrier.png" alt="">
            </div>
            <p>2020</p>
            <h3>Tata Harrier</h3>
            <h2>17.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-XUV700.png" alt="">
            </div>
            <p>2020</p>
            <h3>Mahindra Xuv 700</h3>
            <h2>37.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mercedes-1600.png" alt="">
            </div>
            <p>2020</p>
            <h3>mercedes-1600</h3>
            <h2>55.53/- Lakhs  </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/suzuki_vitara.png" alt="">
            </div>
            <p>2018</p>
            <h3>Suzuki Vitara</h3>
            <h2> 7.69/- Lakhs </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/toyoto-fortuner-.png" alt="">
            </div>
            <p>2022</p>
            <h3>Toyoto Fortuner</h3>
            <h2>16.49/- Lakhs- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/bmw.png" alt="">
            </div>
            <p>2017</p>
            <h3>bmw black 760i</h3>
            <h2> 47.81/- Lakhs </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-1.png" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Scorpio</h3>
            <h2> 47.81/- Lakhs</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/honda-brio.jpg" alt="">
            </div>
            <p>2020</p>
            <h3>Honda Brio</h3>
            <h2> 13.22 Lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai-alcazar.png" alt="">
            </div>
            <p>2018</p>
            <h3>Hyundai Alcazar</h3>
            <h2>23.53 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/honda-hrv.png" alt="">
            </div>
            <p>2016</p>
            <h3>Honda HRV Sport</h3>
            <h2>27.10 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-5.png" alt="">
            </div>
            <p>2021</p>
            <h3>Kia Sportage</h3>
            <h2>32.20 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-3.png" alt="">
            </div>
            <p>2018</p>
            <h3>Nissan A8</h3>
            <h2> 40.52 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-xuv500.webp" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Xuv500</h3>
            <h2> 33.56 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-4.png" alt="">
            </div>
            <p>2018</p>
            <h3> Audi A4</h3>
            <h2>49.57 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/skoda-slaviar.jpg" alt="">
            </div>
            <p>2021</p>
            <h3>Skoda Slaviar</h3>
            <h2>22.52 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-6.png" alt="">
            </div>
            <p>2016</p>
            <h3>Hyundai Creata</h3>
            <h2>15.63 Lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/car-7.png" alt="">
            </div>
            <p>2020</p>
            <h3>kia scorpion</h3>
            <h2> 31.52 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-verito.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Verito</h3>
            <h2>9.12 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-WR-V.png" alt="">
            </div>
            <p>2019</p>
            <h3>Honda WR-V</h3>
            <h2>11.44 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-Venue.png" alt="">
            </div>
            <p>2015</p>
            <h3>Hyundai Venue</h3>
            <h2> 10.71 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-i20.png" alt="">
            </div>
            <p>2019</p>
            <h3>Hyundai i20</h3>
            <h2>7.98 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Hyundai-Verna.png" alt="">
            </div>
            <p>2020</p>
            <h3>Hyundai Verna</h3>
            <h2>14.44 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-Thar.png"" alt="">
            </div>
            <p>2019</p>
            <h3>Mahindra Thar</h3>
            <h2> 44.7 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/maruti_sizuki-baleno.png" alt="">
            </div>
            <p>2020</p>
            <h3>Maruti Suzuki Baleno</h3>
            <h2> 13.25 Lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai-santro.png" alt="">
            </div>
            <p>2018</p>
            <h3>hyundai Santro</h3>
            <h2>6.48 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/hyundai_aura.png" alt="">
            </div>
            <p>2019</p>
            <h3>Hyundai Aura</h3>
            <h2> 9.37 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/WagonR.png" alt="">
            </div>
            <p>2015</p>
            <h3>Maruti-Suzuki WagonR</h3>
            <h2> 8.03 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Reanualt-Duster.png" alt="">
            </div>
            <p>2018</p>
            <h3>Renault Duster</h3>
            <h2> 12.25 lakhs/-</h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Renault-Kiger.png" alt="">
            </div>
            <p>2020</p>
            <h3>Renault Kiger</h3>
            <h2>18.35 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Renault-Kwid.png" alt="">
            </div>
            <p>2019</p>
            <h3>Renault KWID</h3>
            <h2> 8.83 lakhs/ </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Reanualt-triber.png" alt="">
            </div>
            <p>2018</p>
            <h3>Renault Triber</h3>
            <h2> 8.32 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-city.png" alt="">
            </div>
            <p>2016</p>
            <h3>Honda City</h3>
            <h2>15.18 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-marazzo.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Marazzo</h3>
            <h2>14.00 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-Amaze.png" alt="">
            </div>
            <p>2019</p>
            <h3>Honda Amaze</h3>
            <h2> 11.21 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-verito.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Verito</h3>
            <h2> 9.12 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Honda-Jazz.png" alt="">
            </div>
            <p>2014</p>
            <h3>Honda Jazz</h3>
            <h2>9.95 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Mahindra-AlturasG4.png" alt="">
            </div>
            <p>2017</p>
            <h3>Mahindra Alturas-G4</h3>
            <h2>31.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/Tata-nexon.png" alt="">
            </div>
            <p>2020</p>
            <h3>Tata nexon</h3>
            <h2>10.73 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-tiago.png"" alt="">
            </div>
            <p>2016</p>
            <h3>Tata Tiago</h3>
            <h2>6.62 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-altroz.png" alt="">
            </div>
            <p>2018</p>
            <h3>Tata Altroz</h3>
            <h2>8.03 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/tata-harrier.png" alt="">
            </div>
            <p>2020</p>
            <h3>Tata Harrier</h3>
            <h2>17.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
        <div class="box">
            <div class="box-img">
                <img src="../static/image/mahindra-XUV700.png" alt="">
            </div>
            <p>2020</p>
            <h3>Mahindra Xuv 700</h3>
            <h2>37.85 lakhs/- </h2>
            <a href="/payment" class="btn">Buy Now</a>
        </div>
       
    </div>

</body>
</html>